
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ ·.· ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* `bc-button` background color. */
@bc-button-bg-c: #EEEEEE;
/* `bc-button` color. */
@bc-button-c: #333333;

/* `bc-button` state hover background color. */
@bc-button-st-hover-bg-c: #CC0044;
/* `bc-button` state hover color. */
@bc-button-st-hover-c: #FFFFFF;
/* `bc-button` state hover text shadow color. */
@bc-button-st-hover-t-sh-c: rgba(0, 0, 0, 0.2);

/* `bc-button` state selected background color. */
@bc-button-st-selected-bg-c: #990033;
/* `bc-button` state selected color. */
@bc-button-st-selected-c: #EEEEEE;
/* `bc-button` state selected text shadow color. */
@bc-button-st-selected-t-sh-c: rgba(0, 0, 0, 0.2);



/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* `bc-title` color. */
@bc-title-c: #333333;



/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ .·. ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
