
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ ·.· ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.bc-button:hover {
  background-color: @bc-button-st-hover-bg-c;
  color: @bc-button-st-hover-c;
  text-shadow: 0 1px 1px @bc-button-st-hover-t-sh-c;
}

.bc-button.bc-st-selected,
.bc-button:active {
  background-color: @bc-button-st-selected-bg-c;
  color: @bc-button-st-selected-c;
  text-shadow: @bc-button-st-selected-t-sh-c;
}

.bc-button.bc-st-adjacent-left {
  .mx-b-bm-lt-r(0);
  .mx-b-tp-lt-r(0);
}

.bc-button.bc-st-adjacent-right {
  .mx-b-tp-rt-r(0);
  .mx-b-bm-rt-r(0);
}



/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ .·. ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
